<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!--
      Library manifest - these attributes are merged with the consuming app's manifest

      CRITICAL SECURITY: Backup exclusion rules are defined in TWO files:
      1. backup_rules.xml - Legacy format for Android 11 and below
      2. data_extraction_rules.xml - New format for Android 12+ (API 31+)

      The consuming app MUST include BOTH:
        android:fullBackupContent="@xml/backup_rules"             (API 23-30)
        android:dataExtractionRules="@xml/data_extraction_rules"  (API 31+)

      Without BOTH attributes, the software keystore WILL be backed up on some devices:
      - Without fullBackupContent: Backed up on Android 6-11
      - Without dataExtractionRules: Backed up on Android 12+

      Alternative: Set android:allowBackup="false" to disable all backups (may break
      user data backup/restore for the app).

      Example consuming app AndroidManifest.xml:
        <application
            android:allowBackup="true"
            android:fullBackupContent="@xml/backup_rules"
            android:dataExtractionRules="@xml/data_extraction_rules">

      This library provides both XML files, which will be automatically merged if
      the consuming app references them.
    -->
</manifest>
